[Unit]
Description=Wireguard endpoint domain automatic re-resolver
Requires=vpn.device
After=vpn.device

[Service]
ExecStart=/usr/local/bin/wg-reresolve-dns
Restart=on-failure

[Install]
WantedBy=default.target
