---
- name: Update grub
  become: true
  ansible.builtin.script: update-grub

- name: Reboot
  become: true
  when: reboot_if_needed
  ansible.builtin.command: shutdown -r +1
  changed_when: true

- name: Add journald persistent path
  become: true
  ansible.builtin.command: systemd-tmpfiles --create --prefix /var/log/journal
  changed_when: true

- name: Reload systemd daemon
  become: true
  ansible.builtin.systemd:
    daemon_reload: true

- name: Restart ssh
  become: true
  ansible.builtin.systemd:
    name: sshd
    state: restarted

- name: Restart cloudwatch
  become: true
  ansible.builtin.service:
    name: amazon-cloudwatch-agent
    enabled: true
    state: restarted

- name: Restart systemd-journald
  become: true
  ansible.builtin.service:
    name: systemd-journald
    state: restarted

- name: Restart qemu-guest-agent
  become: true
  ansible.builtin.systemd:
    name: qemu-guest-agent
    state: restarted

- name: Restart NetworkManager
  become: true
  ansible.builtin.systemd:
    name: NetworkManager
    state: restarted

- name: Restart cpupower
  become: true
  ansible.builtin.systemd:
    daemon_reload: true
    name: cpupower
    enabled: true
    state: restarted
