---
- name: Install podman
  become: true
  notify: Restart podman.socket
  ansible.builtin.package:
    name: podman

- name: Create podman socket drop-in directory
  become: true
  ansible.builtin.file:
    state: directory
    mode: '0755'
    path: /etc/systemd/system/podman.socket.d

- name: Permit podman socket for wheel group
  become: true
  notify: Restart podman.socket
  ansible.builtin.copy:
    dest: /etc/systemd/system/podman.socket.d/override.conf
    mode: '0644'
    content: |
      [Socket]
      SocketGroup=wheel

- name: Add uids to /etc/subuid and /etc/subgid
  become: true
  ansible.builtin.lineinfile:
    create: true
    mode: '0644'
    path: /etc/{{ item }}
    line: "containers:165536:65536"
  loop: [subuid, subgid]
