---
- name: Install curl
  become: true
  ansible.builtin.package:
    name: curl

- name: Create $HOME/.bin
  become: true
  ansible.builtin.file:
    path: /home/{{ username }}/.bin
    state: directory
    mode: "0755"
    owner: "{{ username }}"
    group: "{{ username }}"

- name: Create $HOME/.ssh
  become: true
  ansible.builtin.file:
    path: /home/{{ username }}/.ssh
    state: directory
    mode: "0700"
    owner: "{{ username }}"
    group: "{{ username }}"

- name: Ensure $HOME/.ssh/authorized_keys exists
  become: true
  ansible.builtin.file:
    path: /home/{{ username }}/.ssh/authorized_keys
    state: touch
    mode: "0600"
    owner: "{{ username }}"
    group: "{{ username }}"
    modification_time: preserve
    access_time: preserve

- name: Create script to pull out the SSH keys from URL
  become: true
  notify: Run ssh-key-downloader
  ansible.builtin.template:
    src: files/ssh-key-downloader.sh.j2
    dest: /home/{{ username }}/.bin/ssh-key-downloader
    mode: "0755"
    owner: "{{ username }}"
    group: "{{ username }}"

- name: Deploy systemd service unit for ssh-key-downloader
  become: true
  ansible.builtin.template:
    src: files/ssh-key-downloader.service.j2
    dest: /etc/systemd/system/ssh-key-downloader.service
    mode: "0644"

- name: Deploy systemd timer unit for ssh-key-downloader
  become: true
  ansible.builtin.template:
    src: files/ssh-key-downloader.timer.j2
    dest: /etc/systemd/system/ssh-key-downloader.timer
    mode: "0644"

- name: Enable and start ssh-key-downloader timer
  become: true
  ansible.builtin.systemd:
    name: ssh-key-downloader.timer
    enabled: true
    daemon_reload: true
