[Unit]
Description=Automatically reboot the system if required by updates
# See comment in dnf-makecache.service
ConditionPathExists=!/run/ostree-booted

[Service]
Type=oneshot
ExecStart=sh -c "dnf needs-restarting --reboothint || systemctl reboot"
