---
- name: Create persistent path for journald logs
  become: true
  ansible.builtin.file:
    path: /var/log/journal
    state: directory
    mode: "2755"
    group: systemd-journal
  notify:
    - Add journald persistent path
    - Restart systemd-journald

- name: Create journald drop-in directory
  become: true
  ansible.builtin.file:
    path: /etc/systemd/journald.conf.d
    state: directory
    mode: "0755"

- name: Limit journal log retention size
  become: true
  notify: Restart systemd-journald
  ansible.builtin.copy:
    dest: /etc/systemd/journald.conf.d/01-limit-space.conf
    mode: "0644"
    content: |
      [Journal]
      SystemMaxUse=500M
