---
- name: Set hostname
  become: true
  ansible.builtin.hostname:
    name: "{{ hostname }}"

- name: Set timezone
  become: true
  community.general.timezone:
    name: "{{ timezone }}"

- name: Create wheel group
  become: true
  ansible.builtin.group:
    name: wheel
    system: true

- name: Create user
  become: true
  ansible.builtin.user:
    name: "{{ username }}"
    comment: Main system administrator user
    groups: [wheel, systemd-journal]
    shell: /bin/bash
    expires: -1

- name: Set authorized keys
  become: true
  become_user: "{{ username }}"
  when: authorized_keys_url != ""
  ansible.posix.authorized_key:
    user: "{{ username }}"
    key: "{{ lookup('url', authorized_keys_url, split_lines=False) }}"
