---
- name: Check if this system uses grub
  ansible.builtin.stat:
    path: /etc/default/grub
  register: grub

- name: Enforce grub timeout of 1 second
  become: true
  notify: Update grub
  when: grub.stat.exists
  ansible.builtin.lineinfile:
    dest: /etc/default/grub
    regexp: "^GRUB_TIMEOUT=[0-9]+$"
    line: "GRUB_TIMEOUT=0"
