---
# See: https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/nvme-ebs-volumes.html#timeout-nvme-ebs-volumes
# See: https://github.com/coreos/fedora-coreos-tracker/issues/605
- name: Create udev rules for AWS nvme storage
  become: true
  ansible.builtin.copy:
    dest: /etc/udev/rules.d/01-aws-nvme.rules
    mode: "0644"
    content: |
      ACTION=="add", KERNEL=="nvme[0-9]*n[0-9]*", ENV{DEVTYPE}=="disk", ATTRS{model}=="Amazon Elastic Block Store", ATTR{queue/io_timeout}="4294967295"
      ACTION=="add", KERNEL=="nvme[0-9]*n[0-9]*", ENV{DEVTYPE}=="disk", ATTRS{model}=="Amazon EC2 NVMe Instance Storage", ATTR{queue/io_timeout}="30000"

# See: https://github.com/pop-os/default-settings/pull/149
# See: https://www.phoronix.com/forums/forum/software/general-linux-open-source/1334042-linux-5-19-looking-real-good-on-the-hp-dev-one-xanmod-liquorix-also-tested
- name: Use optimized disk schedulers
  become: true
  ansible.builtin.copy:
    dest: /etc/udev/rules.d/61-disk-scheduler.rules
    mode: "0644"
    content: |
      ACTION!="add|change", GOTO="disk_scheduler_end"
      SUBSYSTEM!="block", GOTO="disk_scheduler_end"

      # Set the scheduler to none when using VirtIO
      KERNEL=="vd?", ENV{DEVTYPE}=="disk", ATTRS{vendor}=="0x1b36", ATTR{queue/scheduler}="none", GOTO="disk_scheduler_end"

      # BFQ is recommended for slow storage such as rotational block devices and SD cards.
      ATTR{queue/rotational}=="1", ATTR{queue/scheduler}="bfq", GOTO="disk_scheduler_end"
      KERNEL=="mmcblk[0-9]|mmcblk[0-9]p[0-9]*", ATTR{queue/scheduler}="bfq", GOTO="disk_scheduler_end"

      # Kyber is recommended for faster storage such as NVME and SATA SSDs.
      KERNEL=="nvme?n?|sd?", ATTR{queue/rotational}=="0", ATTR{queue/scheduler}="kyber", GOTO="disk_scheduler_end"

      # Stop processing
      LABEL="disk_scheduler_end"

- name: Enable automatic fstrim
  become: true
  ansible.builtin.systemd:
    name: fstrim.timer
    enabled: true

- name: Set cpu frequency on boot for bare metal servers
  become: true
  notify:
    - Reload systemd daemon
    - Restart cpupower
  ansible.builtin.copy:
    dest: /etc/systemd/system/cpupower.service
    mode: "0644"
    content: |
      [Unit]
      Description=Apply cpupower configuration
      ConditionVirtualization=!container
      ConditionVirtualization=!vm

      [Service]
      Type=oneshot
      ExecStart=cpupower frequency-set --governor performance
      ExecStart=cpupower set --perf-bias 0

      [Install]
      WantedBy=multi-user.target

- name: Tune sysctl variables for servers
  become: true
  ansible.posix.sysctl:
    name: "{{ item.name }}"
    value: "{{ item.value }}"
    sysctl_set: true
    sysctl_file: /etc/sysctl.d/70-tuned-settings.conf
  loop:
      # Setup for when not acting as a router
    - { name: net.ipv4.conf.default.rp_filter, value: "2" }
    - { name: net.ipv4.conf.all.rp_filter, value: "2" }
    - { name: net.ipv4.conf.default.accept_redirects, value: "0" }
    - { name: net.ipv4.conf.all.accept_redirects, value: "0" }
    - { name: net.ipv6.conf.default.accept_redirects, value: "0" }
    - { name: net.ipv6.conf.all.accept_redirects, value: "0" }
    - { name: net.ipv4.conf.default.send_redirects, value: "0" }
    - { name: net.ipv4.conf.all.send_redirects, value: "0" }
    - { name: net.ipv4.ip_forward, value: "0" }

      # Disable Source Routing
    - { name: net.ipv4.conf.default.accept_source_route, value: "0" }
    - { name: net.ipv4.conf.all.accept_source_route, value: "0" }
    - { name: net.ipv4.conf.all.forwarding, value: "0" }
    - { name: net.ipv4.conf.default.forwarding, value: "0" }
    - { name: net.ipv6.conf.default.accept_source_route, value: "0" }
    - { name: net.ipv6.conf.all.accept_source_route, value: "0" }
    - { name: net.ipv6.conf.all.forwarding, value: "0" }
    - { name: net.ipv6.conf.default.forwarding, value: "0" }

      # More memory for networking thus less frequent GCs
    - { name: net.core.rmem_default, value: "1048576" }
    - { name: net.core.rmem_max, value: "16777216" }
    - { name: net.core.wmem_default, value: "1048576" }
    - { name: net.core.wmem_max, value: "16777216" }
    - { name: net.core.optmem_max, value: "81920" }
    - { name: net.ipv4.tcp_rmem, value: "4096 1048576 6291456" }
    - { name: net.ipv4.tcp_wmem, value: "4096 65536 16777216" }
    - { name: net.ipv4.udp_rmem_min, value: "8192" }
    - { name: net.ipv4.udp_wmem_min, value: "8192" }

      # Reduced TCP timeout (15 min)
    - { name: net.ipv4.tcp_keepalive_time, value: "600" }
    - { name: net.ipv4.tcp_keepalive_intvl, value: "60" }
    - { name: net.ipv4.tcp_keepalive_probes, value: "5" }

      # TCP additional features
    - { name: net.ipv4.ip_local_port_range, value: "32768 65535" }
    - { name: net.ipv4.tcp_fastopen, value: "3" }
    - { name: net.mptcp.enabled, value: "1" }

      # Performance optimization
      # Consider decreasing dirty ratios if the application is memory intensive and latency
      # sensitive (such as databases). Swappiness is ignored if the system doesn't have swap.
    - { name: vm.dirty_background_ratio, value: "10" }
    - { name: vm.dirty_ratio, value: "30" }
    - { name: vm.swappiness, value: "10" }
