---
- name: Have cloud-init remove all generated files
  become: true
  ansible.builtin.shell: cloud-init clean --logs -c all

- name: Remove cloud-init (with dnf)
  become: true
  when: ansible_facts['os_family'] == 'RedHat'
  ansible.builtin.dnf:
    state: absent
    autoremove: true
    name:
      - cloud-init
      - cloud-utils-growpart

- name: Remove cloud-init (with apt)
  become: true
  when: ansible_facts['os_family'] == 'Debian'
  ansible.builtin.apt:
    name: cloud-init
    state: absent
    autoremove: yes
    purge: yes

- name: Remove all traces of cloud-init
  become: true
  ansible.builtin.file:
    state: absent
    path: "{{ item }}"
  loop:
    - /etc/cloud
    - /var/lib/cloud

# cloud-init clean should have removed all files below, but let's keep them listed here for removal
# in case it didn't.

- name: Let NetworkManager manage DNS
  become: true
  notify: Restart NetworkManager
  ansible.builtin.file:
    state: absent
    path: /etc/NetworkManager/conf.d/99-cloud-init.conf

- name: Remove cloudinit logs
  become: true
  ansible.builtin.file:
    path: /var/log/{{ item }}
    state: absent
  loop:
    - cloud-init.log
    - cloud-init-output.log

# This must be the last thing we do because we might lose permissions if we haven't configured
# sudoers yet
- name: Remove default cloud-init generated sudoers file
  become: true
  ansible.builtin.file:
    path: /etc/sudoers.d/90-cloud-init-users
    state: absent
