---
- name: Disable automatic makecache
  become: true
  ansible.builtin.systemd:
    name: dnf-makecache.timer
    enabled: false

- name: Enable automatic updates
  become: true
  when: automatic_update_enabled
  block:
    - name: Install dnf-automatic
      ansible.builtin.dnf:
        name: dnf-automatic
        state: present

    - name: Ensure dnf-automatic only installs security updates
      ansible.builtin.lineinfile:
        path: /etc/dnf/automatic.conf
        line: upgrade_type = security
        regexp: "^upgrade_type ="

    - name: Create drop-in folders for applying timer overrides
      ansible.builtin.file:
        path: /etc/systemd/system/{{ item }}.timer.d
        state: directory
        mode: "0755"
      loop:
        - dnf-automatic-download
        - dnf-automatic-install

    - name: Override dnf timers
      ansible.builtin.template:
        src: files/{{ item }}.timer.j2
        dest: /etc/systemd/system/{{ item }}.timer.d/override.conf
        mode: "0644"
      loop:
        - dnf-automatic-download
        - dnf-automatic-install

    - name: Setup automatic reboots timer
      ansible.builtin.template:
        src: files/dnf-automatic-reboot.{{ item }}.j2
        dest: /etc/systemd/system/dnf-automatic-reboot.{{ item }}
        mode: "0644"
      loop:
        - service
        - timer

    - name: Force reload the systemd daemon
      ansible.builtin.systemd:
        daemon_reload: true

    - name: Configure automatic update timers
      ansible.builtin.systemd:
        name: "{{ item }}.timer"
        enabled: "{{ automatic_update_enabled }}"
      loop:
        - dnf-automatic-download
        - dnf-automatic-install

    - name: Configure automatic reboot timer
      ansible.builtin.systemd:
        name: dnf-automatic-reboot.timer
        enabled: "{{ automatic_update_reboot }}"
