---
- name: Remove rsyslog
  become: true
  ansible.builtin.dnf:
    name: rsyslog
    state: absent

- name: Remove old logs
  become: true
  ansible.builtin.file:
    path: /var/log/{{ item }}
    state: absent
  loop:
    - messages
    - secure
    - spooler

- name: Remove firewalld
  when: remove_firewalld
  become: true
  block:
    - name: Remove package
      ansible.builtin.dnf:
        name: firewalld*
        state: absent

    - name: Remove logs
      ansible.builtin.file:
        path: /var/log/firewalld
        state: absent

- name: Remove software unsuited for general-purpose servers
  when: remove_bloat
  become: true
  block:
    - name: Remove packages
      ansible.builtin.dnf:
        state: absent
        name:
          - gssproxy
          - rpcbind
          - sssd*
          - slang

    - name: Remove logs
      ansible.builtin.file:
        path: /var/log/sssd
        state: absent
