---
- when: ansible_facts.distribution_major_version | int < 12
  become: true
  block:
    - name: remove chrony
      ansible.builtin.apt: name=chrony state=absent autoremove=yes purge=yes

    - name: install systemd-timesyncd
      ansible.builtin.apt: name=systemd-timesyncd state=latest

    - name: remove chrony user
      ansible.builtin.user: name=chrony state=absent

    - name: remove chrony group
      ansible.builtin.group: name=chrony state=absent

- name: stop polkit
  become: true
  when: '"polkitd" in ansible_facts.packages'
  ansible.builtin.systemd: name=polkit state=stopped

- name: remove polkitd
  become: true
  ansible.builtin.apt: name=polkitd state=absent autoremove=yes purge=yes

- name: remove polkitd user
  become: true
  ansible.builtin.user: name=polkitd state=absent remove=yes

- name: remove polkitd group
  become: true
  ansible.builtin.group: name=polkitd state=absent

- name: install iproute2
  become: true
  ansible.builtin.apt: name=iproute2 state=latest

- name: install python-is-python3
  become: true
  ansible.builtin.apt: name=python-is-python3 state=latest

- name: install dbus-broker
  become: true
  notify: Reboot
  ansible.builtin.apt: name=dbus-broker state=latest

- name: upgrade all packages
  become: true
  ansible.builtin.apt:
    name: '*'
    state: latest
    autoclean: yes
    autoremove: yes
    update_cache: true
    install_recommends: no

- name: check if a reboot is required
  ansible.builtin.shell: "[ -f /var/run/reboot-required ]"
  failed_when: False
  register: reboot_required
  changed_when: reboot_required.rc == 0
  notify: Reboot
