- name: Reload systemd daemon
  become: true
  ansible.builtin.systemd:
    daemon_reload: true

- name: Restart podman.socket
  become: true
  ansible.builtin.systemd:
    name: podman.socket
    state: restarted
